.app-header{
    background: #228A95;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-header .header-icons{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.app-header .header-icons .menu-link{    
    margin-left: 20px;
}

.app-header .header-icons .logo-link{
    height:40px;
    display:inline-flex;
}