.input-client{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 95px;
}

.input-client label{
    font-size: 33px;
    color: #228A95;
    font-style: oblique;
    margin-bottom: 50px;
}

.input-client .input-field{
    display: flex;
    flex-direction: row;
}

.input-client .input-field input{
    width: 473px;
    height: 61px;
    font-size: 30px;
    background: #F8F8F8;
    border-radius: 5px 0 0 5px;
    text-align: center;
    border: none;
    color: #777777;
}

.input-client .input-field .button{
    border-radius: 0 5px 5px 0;
    font-size: 22px;
    width: 120px;
    height: 61px;
    background: #228A95;
    border: none;
    color:#FFFFFF;
    font-weight: bold;
    transition: filter 0.2s;
}

.input-client .input-field .button:hover{
    filter: brightness(90%);
}

.client-found{
    display: flex;
    margin: auto;
    background: #F8F8F8;
    border-radius: 5px;
    width: 473px;
    height: 375px;
    flex-direction: column;
    align-items: center;
}

.client-found label{
    font-size: 33px;
    margin-top: 22px;
}

.client-found .title-found{
    color:#777777;
}

.client-found .cpf{
    color: #EF9C4B;
}

.client-found .client-name{
    font-weight: bold;
    color:#228A95;
}

.client-found .button{
    border-radius: 5px;
    font-size: 39px;
    width: 390px;
    height: 98px;
    background: #228A95;
    border: none;
    color:#FFFFFF;
    font-weight: bold;
    transition: filter 0.2s;
    margin-top: 22px;
}

.client-found .button:hover{
    filter: brightness(90%);
}

.client-not-found{
    display: flex;
    margin: auto;
    background: #dd1212;
    border-radius: 5px;
    width: 473px;
    height: 75px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}