.input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 63px;
    margin-bottom: 95px;
}

.input-area label{
    font-size: 40px;
    color: #228A95;
    font-weight: bold;
    margin-bottom: 28px;
}

.input-area .input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-area input{
    width: 473px;
    height: 61px;
    font-size: 30px;
    background: #F8F8F8;
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #777777;
}

.input-area .button{
    border-radius: 5px;
    font-size: 22px;
    width: 160px;
    height: 53px;
    background: #EF9C4B;
    border: none;
    color:#FFFFFF;
    font-weight: bold;
    margin-left: 22px;
    transition: filter 0.2s;
}

.input-area .button:hover{
    filter: brightness(90%);
}

.tbl{
    background: #F8F8F8;
}

.tbl .table-header{
    display: flex;
    flex-direction: column;
    height: 128px;
    margin-top: 30px;
}

.tbl .table-header .radio-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tbl .table-header th{
    color: #228A95;
}

.tbl .table-header .headers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbl .table-header .headers th{
    width: 240px;
    color: #777777;
    font-size: 25px;
    margin-top: 30px;

}

.tbl .table-items{
    width: 1218px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tbl .table-items td{
    width: 240px;
    display: flex;
    justify-content: center;
    color:#777777;
    font-size: 23px;
    font-weight: normal;
    border: 1px solid #777777;;
}

.footer:not(.container){
    background: #228A95;
    max-width: 1920px;
    height: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer .footer-content{
    max-width: 1291px;
} 

.footer .footer-content label{
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px; 
}

.footer .button{
    border-radius: 5px;
    font-size: 22px;
    width: 160px;
    height: 53px;
    background: #EF9C4B;
    border: none;
    color:#FFFFFF;
    font-weight: bold;
    transition: filter 0.2s;
}

.footer .button:hover{
    filter: brightness(90%);
}