*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #FFF;
}

button{
    cursor: pointer;
}

body, input, button, textarea{
    font-size: 33px;
}

.container{
    max-width: 1291px;
    transform: translateX(25%);
}